body {
  margin: 0;
  display: flex;
}

* {
  box-sizing: border-box;
}

h2 {
  height: fit-content;
  width: fit-content;
}

#wins {
  padding-left: 19px;
  padding-top: 4px;
  background-color: mistyrose;
  height: 400px;
  width: 150px;
}

#winCounter {
  height: 500px;
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  align-items: center;
  flex-flow: column;
}

#wrapper {
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  width: 100%;
}

#gameboard {
  /* max-width: 600 */
  display: grid;
  grid-template-columns: repeat(3, 200px);
}

.rightBorderLine {
  border-right: 1px solid deeppink;
}

.bottomBorderLine {
  border-bottom: 1px solid deeppink;
}

#gameboard > div {
  /* background-color: darkgrey; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 200px;
  height: 200px;
}

.squares {
  /* border: 1px solid magenta;   */
}

#content {
  /* background-color: lightpink; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 100%; */
}

#startButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: lightgrey;
  border-radius: 30%;
  border: 2px solid darkgrey;
}
