@import url('https://fonts.googleapis.com/css?family=Montserrat|Orbitron&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboard > div {
  font-family: 'Orbitron', sans-serif;
  font-size: 175px'
}

* {
  box-sizing: border-box;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  height: fit-content;
  width: fit-content;
}

.lines {
  visibility:hidden;
  position: absolute;
  border: 0.5px solid red;
}

header {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100vw;
  background-color: #f5f5f5;
}

#centerlineV {
  width: 1px;
  height: 100%;
}

#centerlineH {
  width: 100%;
  height: 1px;
}

li {
  list-style-type: none;
  text-align: center;
}

#wins {
  font-family: 'Montserrat', sans-serif;
  padding-left: 19px;
  padding-top: 4px;
  background-color: #fcfcfc;
  height: 100%;
  width: 90%;
  overflow: hidden;
}

#winCounter {
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  align-items: center;
  flex-flow: column;
}

#buttonBox {
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  align-items: center;
  flex-flow: column;
}

#wrapper {
  /* background-color: black; */
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
}

#gameboard {
  /* max-width: 600 */
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
}

.rightBorderLine {
  border-right: 1px solid grey;
}

.bottomBorderLine {
  border-bottom: 1px solid grey;
}

#gameboard > div {
  /* background-color: darkgrey; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  width: 150px;
  height: 150px;
}

.squares {
  /* border: 1px solid magenta;   */
}

#content {
  /* background-color: lightpink; */
  display: flex;
  justify-content: space-space-between;
  align-items: center;
  width: 100%;
  height: 450px;
}

#startButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: lightgrey;
  border-radius: 30%;
  border: 2px solid darkgrey;
  place-self: center;

}

#leftSide, #rightSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #e3e3e3;
}

#headingText {
  font-family: 'Orbitron', sans-serif;
  font-size: 100px;
  height: fit-content;
  width: fit-content;
}

footer {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.scoreBoard {
  visibility: hidden;
  display: flex;
  /* display: none; */
  font-family: 'Montserrat', sans-serif;
  flex-flow:column;
  text-align: center;
  position: absolute;
  width: 600px;
  height: 250px;
  align-items: center;
  justify-content: center;
  /* border-radius: 15%; */
  background-color: white;
  /* border: 2px solid darkgrey; */
  box-shadow: 10px 10px 2px #0000000d;
}

h3 {
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
  margin: 25px;
}

winText {
  /* margin: 0; */
}
