body {
  margin: 0;
  display: flex;
}

* {
  box-sizing: border-box;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  width: 100%;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(32, 18.75px);
}

.rightBorderLine {
  /* border-right: 1px solid deeppink; */
}

.bottomBorderLine {
  /* border-bottom: 1px solid deeppink; */
}

#gameboard > div {
  /* background-color: darkgrey; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  width: 18.75px;
  height: 18.75px;
}

.squares {
  border: 1px solid magenta;
}

#content {
  /* background-color: lightpink; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 100%; */
}

#startButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  background-color: lime;
  border-radius: 30%;
  border: 2px solid limegreen;
}
