body {
  margin: 0;
  display: flex;
}

* {
  box-sizing: border-box;
}

#wrapper {
  /* background-color: black; */
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



#gameboard {

  display: grid;
  grid-template-columns: repeat(3, 200px);


}


[id = '11'] {
  border-right: 1px solid magenta;
  border-bottom: 1px solid magenta;
}
[id ='12'] {
  border-right: 1px solid magenta;
  border-bottom: 1px solid magenta;
}
[id ='21'] {
  border-bottom: 1px solid magenta;
  border-right: 1px solid magenta;
}
[id ='22'] {
  border-bottom: 1px solid magenta;
  border-right: 1px solid magenta;
}
[id ='31'] {
  border-right: 1px solid magenta;
}
[id ='32'] {
  border-right: 1px solid magenta;
}
[id ='13'] {
  border-bottom: 1px solid magenta;
}
[id ='23'] {
  border-bottom: 1px solid magenta;
}


#gameboard > div {
  /* background-color: darkgrey; */
  background-color: aqua;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.squares {

  /* border: 1px solid magenta;   */

}

#content {
  /* background-color: lightpink; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 100%; */
}

#startButton {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  background-color: lime;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  border: 2px solid limegreen;
}
