/* completely redoing layout */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Fredoka+One|Orbitron&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboard > div {
  font-family: 'Fredoka One', sans-serif;
  font-size: 64px;
}

* {
  box-sizing: border-box;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  height: fit-content;
  width: fit-content;
}

.lines {
  visibility:hidden;
  position: absolute;
  border: 0.5px solid red;
}

header {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100vw;
  background-color: #f5f5f5;
}

#centerlineV {
  width: 1px;
  height: 100%;
}

#centerlineH {
  width: 100%;
  height: 1px;
}

li {
  list-style-type: none;
  text-align: center;
}

#wins {
  font-family: 'Montserrat', sans-serif;
  padding-left: 19px;
  padding-top: 4px;
  background-color: #fcfcfc;
  height: 100%;
  width: 90%;
  overflow: hidden;
}

#winCounter {
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  align-items: center;
  flex-flow: column;
}

#buttonBox {
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  align-items: center;
  flex-flow: column;
}

#wrapper {
  /* background-color: black; */
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
}

#gameboard {
  /* max-width: 600 */
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  /* border: 1px solid grey; */
}

.rightBorderLine {
  /* border-right: 1px solid grey; */
}

.bottomBorderLine {
  /* border-bottom: 1px solid grey; */
}

#gameboard > div {
  /* background-color: darkgrey; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  width: 150px;
  height: 150px;
  border:1px solid grey;
}

#content {
  /* background-color: lightpink; */
  display: flex;
  justify-content: space-space-between;
  align-items: center;
  width: 100%;
  height: 450px;
}

#resetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: lightgrey;
  border-radius: 30%;
  border: 2px solid darkgrey;
  place-self: center;

}

#leftSide, #rightSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #e3e3e3;
}

#headingText {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-style: strong;
  height: fit-content;
  width: fit-content;
}

footer {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.scoreBoard {
  visibility: hidden;
  display: flex;
  /* display: none; */
  font-family: 'Montserrat', sans-serif;
  flex-flow:column;
  text-align: center;
  position: absolute;
  width: 600px;
  height: 250px;
  align-items: center;
  justify-content: center;
  /* border-radius: 15%; */
  background-color: white;
  /* border: 2px solid darkgrey; */
  box-shadow: 10px 10px 2px #0000000d;
}

h3 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin: 25px;
}

winText {
  /* margin: 0; */
}

#scoreBoardOk {
  width: 50px;
  height: 20px;
  background-color: lightgrey;
}

#getName {
  display:flex;
  flex-flow:column;
  height:min-contents;
  background-color:lightgrey;
  inline-size:min-content;
}

#enterNames {
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 0;
}

#goButton {
  width:100%;
}

form {
  margin: 0;
}

#loadBox {
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 500px;
  height: 300px;
  box-shadow: 10px 10px 4px 0px #00000011;
}

#loadButton {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: black;
  position:absolute;
}

/* loadButton:hover {
  display:none
}; */

#blankscreen {
  background-color: #e3e3e3;
  position:absolute;
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cross {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}

#c1, #c2 {
  background-color: black;
  height: 50px;
  width: 10px;
  position: absolute;

}
#c1 {
  transform: rotate(-45deg);

}
#c2 {
  transform: rotate(45deg);
}

/* FOR DROP BOX */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
